a {
  text-decoration: none;
}
p {
  margin-bottom: 0;
}
li {
  list-style: none;
}
h5 {
  color: #fff;
  margin: 0;
  opacity: 0.5;
  &:hover{
    opacity: 1;
    transition: 0.5s;
  }
}
header {
    width:100%;
  }
  /* ハンバーガーメニューの線 */
  .toggle-all {
    text-align: -webkit-right;
    display: none;
  }
  .nav_toggle {
    display: block;
    position: relative;
    width: 1.75rem;
    height: 1.5rem;
    margin: 1rem;
    &.show i:nth-child(1){
      transform: translateY(10px) rotate(-45deg);
    }
    &.show i:nth-child(2){
      opacity: 0;
    }
    &.show i:nth-child(3){
      transform: translateY(-12px) rotate(45deg);
      }
    i {
      display: block;
      width: 100%;
      height: 0.1rem;
      background-color: #333;
      position: absolute;
      transition: transform .5s, opacity .5s;
      &:nth-child(1){
        top: 0;
      }
      &:nth-child(2){
        top: 0;
        bottom: 0;
        margin: auto;
      }
      &:nth-child(3){
        bottom: 0;
      }
    }
  }
  //sp nav version
  .sp-nav {
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
    &.show {
      opacity: 1;
      visibility: visible;
    }
    .sp-dropdown-btn{
      color: #fff;
      display: block;
      justify-content: space-between;
      &:hover {
        background:#004b64;
      }
      & > p {
        color: #fff;
      }
      .btn-text {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
      }
      .sp-dropdown {
        z-index:1000;
        background:#000;
        //position:absolute;
        left:0;
        width:100%;
        min-width: 13rem;
        padding:0;
        display:none;
        animation-name: dropdown-ani; /*--アニメーション名--*/
        animation-duration: 0.5s; /*--時間--*/
        animation-fill-mode: forwards;//完了時で停止
        & > li {
          padding: 1rem;
          & > a {
          color: #fff;
        }
        &:hover {
        background:#004b64;
        }
        }
        .dd-child.sp {
          cursor: pointer;
          .dd-text {
            display: flex;
            justify-content: space-between;
          }
        }
        .dd-c {
          z-index:1000;
          background:#000;
          //position:absolute;
          left: 15rem;
          width:100%;
          min-width: 13rem;
          padding:0;
          display:none;
          cursor:pointer;
          &.web {
            &:hover {
            background:#004b64;
            }
            & > li {
            padding: 1rem;
              & > a {
              color: #fff;
              }
          }
          } 
        }
        .dd-c.sp{
            & > li {
            padding: 1rem;
              & > a {
              color: #fff;
              }
            &:hover {
            background:#004b64;
            }
          }
        } 
      .dd-child.web {
          .dd-text {
            display: flex;
            justify-content: space-between;
          }
      }
      } 
    }
  }
  //Pc version
  .globalnav-wrap {
    font-size:1rem;
    display:flex;
    margin:3rem auto 0;
    justify-content: space-evenly;
    background-color: #eee;
  }
  .globalnav {
    margin: 0;
    padding: auto 2rem;
    .dropdown-btn {
      position:relative;
      display:inline-block;
      padding:1.25rem 3rem;
      margin: auto 0.1rem;
      cursor:pointer;
      &:hover {
        background:#004b64;
        color:#fff;
      }
      a {
        color: #222;
        &:hover {
          color: #fff;
        }
      }
    }
    .dropdown {
      z-index:1000;
      background:#222;
      position:absolute;
      left:0;
      width:100%;
      min-width: 13rem;
      padding:0.6rem 1.25rem;
      display:none;
      animation-name: dropdown-ani; /*--アニメーション名--*/
	    animation-duration: 0.5s; /*--時間--*/
      animation-fill-mode: forwards;//完了時で停止
      &.open {
        padding: 0;
        li {
          padding: 1rem;
        }
      }
      li {
        display:inline-block;
        padding:0.6rem 0;
        width: 100%;
        a {
          color:#fff;
          div{
          display: flex;
          justify-content: space-between;
            p {
            margin: 0;
            }
        }
        }
      }
      li:hover {
        background:#004b64;
        @keyframes dropdown-ani {
          0% {
            top: 3.5rem;
            opacity: 0;
          }
          100% {
            top: 4rem;
            opacity: 1;
          }
        }
      }
    }
    .dd-c {
      z-index:1000;
      background:#222;
      position:absolute;
      left: 15rem;
      width:100%;
      min-width: 13rem;
      padding-left: 0;
      display:none;
      cursor:pointer;
      animation-name: dropdown-two; /*--アニメーション名--*/
	    animation-duration: 0.5s; /*--時間--*/
      animation-fill-mode: forwards;//完了時で停止
      &.web.open{
        margin-top: 7.4rem;
      }
      li {
        display:inline-block;
        padding:0.6rem 0;
        a {
          color:#fff;
        }
      }
      &:hover {
        display: block;
      }
      li:hover {
        background:#004b64;
        @keyframes dropdown-two {
          0% {
            top: 2.5rem;
            opacity: 0;
          }
          100% {
            top: 3rem;
            opacity: 1;
          }
        }
      }
    }
    .dd-c.web {
      &:hover {
        display: block;
      }
    }
    .nav-button-wrap,
    .open {
      display:block;
    }
    .close {
      display:block;
    }
  }
  .thema-all {
    background: #000;
    padding: 0 5rem;
    display:none;
    z-index:1000;
    &.open{
      display: block;
      transition: 1s;
    }
    &:hover { //openにhoverを付けることで表示を維持
      display: block;
    }
  }
  .thema-list {
    display: flex;
    padding: 0 1rem;
    border-left: solid;
    z-index:1000;
    .customer-name {
      width: 40%;
      padding: 2rem 1rem;
    }
    .business-name {
      width: 40%;
      padding: 2rem 1rem;
    }
    .customer{
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      margin: 0;
      display: none;
      &.open{
        display: block;
        display: flex;
      }
      li {
      display: flex;
      width: 33%;
      border: solid;
      padding: 1rem;
        &:hover {
          background-color: #fff;
          opacity: 0.6;
        }
        a {
          text-align: center;
          width: 30%;
          img{
            border-radius: 50%;
            width: 70%;
          }
        }
        div {
          p {
          color: #fff;
          margin: 0.5rem;
          &:nth-child(2){
            opacity: 0.5;
          }
          }
         }
        }
    }
    .business{
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      margin: 0;
      display: none;
      &.open{
        display: block;
        display: flex;
      }
      li {
      display: flex;
      width: 33%;
      border: solid;
      padding: 1rem;
        &:hover {
          background-color: #fff;
          opacity: 0.6;
        }
        a {
          text-align: center;
          width: 30%;
          img{
            border-radius: 50%;
            width: 70%;
          }
        }
        div {
          p {
          color: #fff;
          margin: 0.5rem;
          &:nth-child(2){
            opacity: 0.5;
          }
          }
         }
        }
    }
  }
  @media screen and (max-width: 1200px) {
    header {
      position:relative;
      width:100%;
    }
    .toggle-all {
      display: block;
    }
    .nav-button-wrap {
      display:block;
      position:absolute;
      right:0rem;
      top:0rem;
      z-index:1000;
      cursor: pointer;
      padding:1rem;
      height:3.3rem;
    }
    .globalnav {
      display:none;
      .close {
        display:none;
      }
    }
    .globalnav-wrap.open .globalnav {
      display:block;
      padding:2.5rem 1.25rem 0;
      position: fixed;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.9);
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      li {
        display:block;
      }
      li:hover {
        background:transparent;
      }
      .dropdown {
        display:block;
        position:static;
        background:transparent;
      }
    }
  }
