@charset "UTF-8";
a {
  text-decoration: none;
}

h5 {
  color: #fff;
  margin: 0;
  opacity: 0.5;
}

h5:hover {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header {
  width: 100%;
}

.globalnav-wrap {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3rem auto 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #eee;
}

.globalnav {
  margin: 0;
  padding: auto 2rem;
}

.globalnav .dropdown-btn {
  position: relative;
  display: inline-block;
  padding: 1.25rem 3rem;
  margin: auto 0.1rem;
  cursor: pointer;
}

.globalnav .dropdown-btn:hover {
  background: #004b64;
  color: #fff;
}

.globalnav .dropdown-btn a {
  color: #222;
}

.globalnav .dropdown-btn a:hover {
  color: #fff;
}

.globalnav .dropdown {
  z-index: 1000;
  background: #222;
  position: absolute;
  left: 0;
  width: 100%;
  min-width: 13rem;
  padding: 0.6rem 1.25rem;
  display: none;
  -webkit-animation-name: dropdown-ani;
          animation-name: dropdown-ani;
  /*--アニメーション名--*/
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  /*--時間--*/
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.globalnav .dropdown.open {
  padding: 0;
}

.globalnav .dropdown.open li {
  padding: 1rem;
}

.globalnav .dropdown li {
  display: inline-block;
  padding: 0.6rem 0;
  width: 100%;
}

.globalnav .dropdown li a {
  color: #fff;
}

.globalnav .dropdown li a div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.globalnav .dropdown li a div p {
  margin: 0;
}

.globalnav .dropdown li:hover {
  background: #004b64;
}

@-webkit-keyframes dropdown-ani {
  0% {
    top: 3.5rem;
    opacity: 0;
  }
  100% {
    top: 4rem;
    opacity: 1;
  }
}

@keyframes dropdown-ani {
  0% {
    top: 3.5rem;
    opacity: 0;
  }
  100% {
    top: 4rem;
    opacity: 1;
  }
}

.globalnav .dd-c {
  z-index: 1000;
  background: #222;
  position: absolute;
  left: 15rem;
  width: 100%;
  min-width: 13rem;
  padding: 0.6rem 1rem;
  display: none;
  -webkit-animation-name: dropdown-two;
          animation-name: dropdown-two;
  /*--アニメーション名--*/
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  /*--時間--*/
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.globalnav .dd-c.web.open {
  margin-top: 7.4rem;
}

.globalnav .dd-c li {
  display: inline-block;
  padding: 0.6rem 0;
}

.globalnav .dd-c li a {
  color: #fff;
}

.globalnav .dd-c li:hover {
  background: #004b64;
}

@-webkit-keyframes dropdown-two {
  0% {
    top: 2.5rem;
    opacity: 0;
  }
  100% {
    top: 3rem;
    opacity: 1;
  }
}

@keyframes dropdown-two {
  0% {
    top: 2.5rem;
    opacity: 0;
  }
  100% {
    top: 3rem;
    opacity: 1;
  }
}

.globalnav .nav-button-wrap,
.globalnav .open {
  display: block;
}

.globalnav .close {
  display: block;
}

.thema-all {
  background: #000;
  padding: 0 5rem;
  display: none;
}

.thema-all.open {
  display: block;
  -webkit-transition: 1s;
  transition: 1s;
}

.thema-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem;
  border-left: solid;
}

.thema-list .customer-name {
  width: 40%;
  padding: 2rem 1rem;
}

.thema-list .business-name {
  width: 40%;
  padding: 2rem 1rem;
}

.thema-list .customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  display: none;
}

.thema-list .customer.open {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.thema-list .customer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  border: solid;
  padding: 1rem;
}

.thema-list .customer li:hover {
  background-color: #fff;
  opacity: 0.6;
}

.thema-list .customer li a {
  text-align: center;
  width: 30%;
}

.thema-list .customer li a img {
  border-radius: 50%;
  width: 70%;
}

.thema-list .customer li div p {
  color: #fff;
  margin: 0.5rem;
}

.thema-list .customer li div p:nth-child(2) {
  opacity: 0.5;
}

.thema-list .business {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  display: none;
}

.thema-list .business.open {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.thema-list .business li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  border: solid;
  padding: 1rem;
}

.thema-list .business li:hover {
  background-color: #fff;
  opacity: 0.6;
}

.thema-list .business li a {
  text-align: center;
  width: 30%;
}

.thema-list .business li a img {
  border-radius: 50%;
  width: 70%;
}

.thema-list .business li div p {
  color: #fff;
  margin: 0.5rem;
}

.thema-list .business li div p:nth-child(2) {
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  header {
    position: relative;
    width: 100%;
  }
  .nav-button-wrap {
    display: block;
    position: absolute;
    right: 0rem;
    top: 0rem;
    z-index: 1000;
    cursor: pointer;
    padding: 1rem;
    height: 3.3rem;
  }
  .globalnav {
    display: none;
  }
  .globalnav .close {
    display: none;
  }
  .globalnav-wrap.open .globalnav {
    display: block;
    padding: 2.5rem 1.25rem 0;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .globalnav-wrap.open .globalnav li {
    display: block;
  }
  .globalnav-wrap.open .globalnav li:hover {
    background: transparent;
  }
  .globalnav-wrap.open .globalnav .dropdown {
    display: block;
    position: static;
    background: transparent;
  }
}
/*# sourceMappingURL=style.css.map */